.divine-content {
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrap {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
