.divine-content
    .cards-wrap
        Card001(:cards="item" v-for="(item,index) of cards" :key="cards.index" @cardClose="close = $event" :class="{ 'card-back-close': close }")
    .btn-wrap
        button(type="button") 重新選擇
        
    