$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 2000px;

$Primary: #675C58;
$Info: #2f2825;
$Success: #549753;
$Warning: #d2871b;
$Danger: #f44336;

$mbc: #675c58;
$lsc: #f7f6f5;
$lac: #937d79;
$dac: #89877f;
$dsc: #2f2825;
