@font-face {
    font-family: FakePearl-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2"),
        url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    // font-family: "Noto Sans", sans-serif, "Caveat", cursive, "Caudex", Arial, sans-serif;
    font-family: FakePearl-Regular;
}

.nuxt-content {
    padding: 0 15px;
    @media (min-width: $md) {
    }
    p {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        line-height: 1.6;
    }
}

.full-content {
    margin: 0 -10px;
    @media (min-width: $md) {
        margin: 0 -40px;
    }
}

.content-wrap {
    margin: 0 auto;
    padding: 0 15px 30px;
    max-width: 100%;
    min-height: 80vh;
    @media (min-width: $md) {
        max-width: 1100px;
        padding: 0 15px 100px;
    }
}

article {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    div {
        color: rgba(0, 0, 0, 0.7);
        &::selection {
            background-color: rgb(187, 187, 187);
        }
    }
    h1 {
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h3 {
        display: block;
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h4 {
        display: block;
        margin-top: 1.33em;
        margin-bottom: 1.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h5 {
        display: block;
        font-size: 0.83em;
        margin-top: 1.67em;
        margin-bottom: 1.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h6 {
        display: block;
        font-size: 0.67em;
        margin-top: 2.33em;
        margin-bottom: 2.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
}

.addtoany-wrap {
    margin-top: 70px;
    margin-bottom: 30px;
    &::before,
    &::after {
        content: "";
        display: block;
        width: 45vw;
        height: 1.4px;
        background-color: gray;
    }
    &::before {
        margin-right: 10px;
        @media (min-width: $md) {
            margin-right: 30px;
        }
    }
    &::after {
        margin-left: 10px;
        @media (min-width: $md) {
            margin-left: 30px;
        }
    }
    .a2a_dd {
        display: none;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        > span {
            background-color: gray !important;
            transition: 0.3s;
        }

        &:hover {
            .a2a_s_twitter {
                background-color: rgb(76, 123, 158) !important;
            }

            .a2a_s_plurk {
                background-color: rgb(207, 104, 47) !important;
            }

            .a2a_s_line {
                background-color: rgb(0, 195, 0) !important;
            }
            .a2a_s_facebook {
                background-color: rgb(24, 119, 242) !important;
            }
        }
    }

    .a2a_svg {
        border-radius: 50%;
    }
}
