body {
  margin: 0;
  position: relative;
}

.index {
  overflow: hidden;
  padding: 0 10px;
  background-color: $lsc;
  @media (min-width: $md) {
    padding: 0 40px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.banner,
.contact {
  p {
    padding: 0;
    margin: 0;
    color: $lsc;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0em 0em 10px $dsc;
    @media (min-width: $md) {
      font-size: 3rem;
    }
  }

  .separate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;

    &::after,
    &::before {
      content: "";
      display: block;
      width: 100px;
      height: 4px;
      background-color: $lsc;
      margin-left: 10px;
      box-shadow: 0em 0em 10px $dsc;
    }
  }

  .wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url("../assets/image//banner/banner02.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-wrap {
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }
  }
}

.fix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: $mbc;
  padding: 3px 0 5px 0;
}

.container {
  p {
    color: $dsc;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (min-width: $md) {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
    }

    .info-title {
      font-size: 2rem;
      width: 100%;
      margin: 0 -10px;
      text-align: center;
      background-color: $mbc;
      color: $lsc;
      padding: 30px 0;
      border: 1px solid $mbc;
      @media (min-width: $md) {
        max-width: 100%;
        flex-basis: 100%;
        margin: 0;
      }
    }
    .btn-wrap {
      max-width: 100%;
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .services-btn {
    }
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  @media (min-width: $md) {
    // justify-content: space-between;
    // align-items: flex-start;
    align-items: stretch;
    flex-direction: row;
  }
  @media (min-width: $lg) {
    max-width: 800px;
    margin: 0 auto;
  }

  > div {
    max-width: 100%;
    @media (min-width: $md) {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  > .photo {
    display: none;
    position: relative;

    @media (min-width: $md) {
      display: block;
    }

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 342px;
      background-color: #937d79;
      position: absolute;
      bottom: 5px;
      left: 30px;
      z-index: 0;
    }
  }

  h2 {
    flex-basis: 100%;
    max-width: 100%;
    font-size: 3rem;
    text-align: center;
  }

  .avatar {
    display: block;
    max-width: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: none;
    @media (min-width: $md) {
      box-shadow: 10px 10px 0px 1px $mbc;
    }
  }
  .wrap {
    .photo {
      display: block;
      @media (min-width: $md) {
        display: none;
      }
    }
    p {
      text-align: center;
    }
    .intro-title {
      background-color: $mbc;
      padding: 15px 0;
      p {
        margin: 8px 0;
        color: $lsc;
        &:first-child {
          font-size: 1.25rem;
        }
      }
    }
    .intro-content-wrap {
      max-width: 280px;
      margin: 10px auto 30px;
      text-align: center;
      @media (min-width: $md) {
        margin-top: 25px;
      }
      p {
        margin: 10px 0;
        line-height: 1.4;
      }
    }
  }
}

.contact {
  .wrap {
    height: 23rem;
    background-image: url("https://images.unsplash.com/photo-1531266752426-aad472b7bbf4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80");
  }
  .text-wrap {
    // max-width: 100%;
    // width: 100%;
    @media (min-width: $md) {
      left: 150px;
    }

    p {
      color: $lsc;
      font-size: 2.25rem;
      font-style: italic;
    }
    .btn-wrap {
      margin-top: 10px;
      text-align: center;
      @media (min-width: $md) {
        text-align: left;
      }
      .more-btn {
        letter-spacing: 3px;
      }
    }
  }
}

.container > div {
  margin-bottom: 50px;
}

.more-btn {
  background-color: $lac;
  color: $lsc;
  border: none;
  padding: 10px 25px;
  // border-radius: 5px;
  letter-spacing: 3px;
  font-size: 0.9rem;
  margin-top: 20px;
}
