body {
    margin: 0;
    position: relative;
  }
  
  #mousefollow {
    pointer-events: none;
    width: 30px;
    height: 30px;
    z-index: 999;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 0.4);
    box-shadow: 0px 0px 20px 0px rgb(255 255 255 / 0.8);
    position: absolute;
    left: -50px;
  }
  
  .header {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .menu-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(0, 0, 0);
  
    .menu {
      &.fix {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 10px 0px rgb(255 255 255 / 0.35);
      }
  
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
  
        li {
          margin: 0 10px;
  
          a {
            text-decoration: none;
            color: rgb(255 255 255 / 0.35);
            padding: 10px 0;
            display: block;
            transition: 0.3s;
  
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  
    .logo {
      width: 100px;
      height: 100px;
      background-image: url('../assets/image/logo.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      margin: 20px 0 10px;
    }
  }
  
  .banner .wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url('../assets/image/banner.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 15px #000;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    _filter: none;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .text-wrap {
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
  
      p {
        padding: 0;
        margin: 0;
        color: #fff;
        font-size: 23px;
        text-align: center;
      }
  
      .separate {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
  
        &::after {
          content: '';
          display: block;
          width: 100px;
          height: 2px;
          background-color: #fff;
          margin-left: 10px;
        }
  
        &::before {
          content: '';
          display: block;
          width: 100px;
          height: 2px;
          background-color: #fff;
          margin-right: 10px;
        }
      }
    }
  }
  
  .main {
    background-color: #000;
    height: 3000px;
  }
  
  .footer {
    background-color: #000;
  
    .wrap {
      padding: 10px 0;
    }
  
    p {
      margin: 0;
      padding: 0;
      color: #fff;
      text-align: center;
    }
  }
  
  @media screen and (min-width: 768px) {
    .banner .wrap .text-wrap p {
      font-size: 3rem;
  
      &:nth-child(2) {}
    }
  }