#index
    #mousefollow
    header.header
    .banner
        .wrap
            .text-wrap
                p.animate__animated.animate__fadeInLeft.animate__slow 探索自我
                p.animate__animated.animate__fadeIn.animate__slow.animate__delay-1s.separate ◊
                p.animate__animated.animate__fadeInRight.animate__slow.animate__delay-2s 發現內心的光芒
    .menu-wrap
        .logo
        nav.menu
            ul
                li
                    a(href="#") HOME
                li
                    a(href="#") BLOG
                li
                    a(href="#") CONTACT
                li
                    a(href="#") PODCAST
    .main
        .intro
            .wrap
        .service
            .wrap
        .contact
            .wrap
    .footer
       .wrap.copy
            p Copyright © 2020 Mido. All rights reserved.