.index
    h1(style="display:none;") 生命之歌|雷諾曼、塔羅、星際瑪雅，探索自我，發現內心的光芒
    .banner.full-content
        .wrap
            .text-wrap
                p.wow.animate__animated.animate__fadeInLeft.animate__slow 探索自我
                p.wow.animate__animated.animate__fadeIn.animate__slow.separate(data-wow-delay="1s") ◊
                p.wow.animate__animated.animate__fadeInRight.animate__slow(data-wow-delay="2s") 發現內心的光芒
    .menu-wrap
        Menu
    .container
        .intro
            .wrap
                h2(style="display:none;") About
                .intro-title.wow.animate__animated.animate__fadeInDown(data-wow-offset="30")
                    p 花草魔女 Claire Lin
                    p 簡單生活實踐者
                .photo.wow.animate__animated.animate__fadeIn(data-wow-offset="30")
                    img.avatar(src="~assets/image/avatar.png")
                .intro-content-wrap
                    p.wow.animate__animated.animate__fadeInDown(data-wow-offset="30") 擅長使用精油與香氣撫平疲憊的身心
                    p.wow.animate__animated.animate__fadeInDown(data-wow-offset="30") 能透過雷諾曼和塔羅，看見並了解內心深處的自我
                    p.wow.animate__animated.animate__fadeInDown(data-wow-offset="30") 像摯友一般的溫柔陪伴、傾聽、分享
                    p.wow.animate__animated.animate__fadeInDown(data-wow-offset="30") 藉由聊天、對談，給陷入迷惘的朋友溫暖與前行方向
                    button.intro-btn.more-btn(type="button") 瞭解更多
            .photo.wow.animate__animated.animate__fadeIn(data-wow-offset="30")
                img.avatar(src="~assets/image/avatar.png")
        .services
            h2.info-title Services
            Service002(:services="item" v-for="(item,index) of services" :key="services.index" :data-wow-delay="'0.'+index + 's'")
            .btn-wrap
                button.services-btn.more-btn(type="button") 瞭解更多
        .contact.full-content
            .wrap
                .text-wrap
                    p.wow.animate__animated.animate__fadeInLeft.animate__slow 美好自己，便能連結世界
                    .btn-wrap
                        button.contact-btn.more-btn(type="button") 預約諮詢
        .blog.full-content
            ul
                li.blog-item(v-for="article of topArticles" :key="article.slug")
                    NuxtLink.blog-link-wrap(:to="{ name: 'blog-slug', params: { slug: article.slug } }") 
                        p {{ article.title }}
                        p.read-more 閱讀文章
    Footer.full-content